DEFAULT default
label default
  KERNEL {{ kernel_path }}
  {% if initrd_path is not none %}
  INITRD {{ initrd_path }}
  {% endif %}
  APPEND {% for container in containers %}b2c.container="docker://{{ container }}" {% endfor -%} {{ kernel_cmdline_extras|default('', true) }}

